
<ion-content class="ionic-padding">

  <ion-card>
    <ion-card-header>
      <ion-card-title style="text-align: center;">Login</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list> 
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="text" [(ngModel)]="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" [(ngModel)]="password"></ion-input>
        </ion-item>
      </ion-list>
    </ion-card-content>

    <ion-button expand="block" shape="round" (click)="login()">Login</ion-button>

    <p (click)="register()" style="text-align: center;padding: 20px;"> Register </p>
  </ion-card>

</ion-content>
